  <div class="container d-flex justify-content-center mt-5">
      <!-- Button to Open the Modal -->
      <button
        type="button"
        class="btn btn-primary"
        onclick="checkUser()"
        data-toggle="modal"
        data-target="#myModal"
      >
        Start Now
      </button>

      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Input Your Information</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <form action="/list-user.html" id="register-form">
              <!-- Modal body -->
              <div class="modal-body">
                <div class="form-group">
                  <label for="usr">Name:</label>
                  <input type="text" class="form-control" id="name" required />
                </div>
                <div class="form-group">
                  <label for="pwd">Age:</label>
                  <input type="number" class="form-control" id="age" required />
                </div>
                <h1>Địa chỉ</h1>
                <div class="row">
                  <div class="col-6">
                    <label for="">Tỉnh / thành phố</label>
                    <div class="form-group">
                      <select
                        class="custom-select"
                        id="province"
                        required
                      ></select>
                    </div>
                  </div>
                  <div class="col-6">
                    <label for="">Quận huyện</label>
                    <div class="form-group">
                      <select
                        class="custom-select"
                        id="district"
                        required
                      >
                      <option value='BADINH'>Quận Ba Đình</opntion>
                    </select>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-danger">Oke</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/main.js"></script>s
